@font-face {
    font-family: 'barbecue';
    src:    url('fonts/barbecue.eot?jgluzb');
    src:    url('fonts/barbecue.eot?jgluzb#iefix') format('embedded-opentype'),
        url('fonts/barbecue.ttf?jgluzb') format('truetype'),
        url('fonts/barbecue.woff?jgluzb') format('woff'),
        url('fonts/barbecue.svg?jgluzb#barbecue') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'barbecue' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-04:before {
    content: "\e909";
}
.icon-icon-5:before {
    content: "\e900";
}
.icon-arrow-next:before {
    content: "\e901";
}
.icon-arrow-prev:before {
    content: "\e902";
}
.icon-carousel-next:before {
    content: "\e903";
}
.icon-carousel-prev:before {
    content: "\e904";
}
.icon-email:before {
    content: "\e905";
}
.icon-icon-1:before {
    content: "\e906";
}
.icon-icon-2:before {
    content: "\e907";
}
.icon-icon-3:before {
    content: "\e908";
}
.icon-icon-6:before {
    content: "\e90a";
}
.icon-list:before {
    content: "\e90b";
}
.icon-tel:before {
    content: "\e90c";
}
.icon-user:before {
    content: "\e90d";
}

